<div class="timer-wrapper">
    <div class="timer-window"
         [ngClass]="{'timer-window-task-color': !isBreak, 'timer-window-break-color': isBreak}">
        <div class="timer"><span *ngIf="leftTime; else elseBlock">{{ leftTime | transformSeconds }}</span></div>
        <ng-template #elseBlock>{{ defaultTaskTime | transformSeconds }}</ng-template>
        <div class="start-stop-buttons">
            <button
                (click)="handleStartButtonClick()"
                mat-stroked-button
                class="start-button">
                    START
            </button>
            <button
                (click)="handleStopButtonClick()"
                mat-stroked-button
                class="stop-button">
                    STOP
            </button>
        </div>
    </div>
</div>
