<div class="timer-wrapper">
    <div class="timer-window">
        <div class="timer"><span *ngIf="leftTime; else elseBlock">{{ leftTime | transformSeconds }}</span></div>
        <ng-template #elseBlock>{{ defaultTime | transformSeconds }}</ng-template>
        <div class="start-stop-buttons">
            <button
                (click)="handleStartButtonClick()"
                mat-stroked-button
                class="start-button">
                    START
            </button>
            <button
                (click)="handleStopButtonClick()"
                mat-stroked-button
                [disabled]="!this.taskIsStarted"
                class="stop-button">
                    STOP
            </button>
        </div>
    </div>
</div>
