<div class="modal-dialog">
    <h1 mat-dialog-title>{{ this.actionName }} task</h1>
    <mat-dialog-content>
        <form [formGroup]="taskForm">
          <div>
            <mat-form-field appearance="outline">
              <mat-label>Description</mat-label>
              <input matInput
                     formControlName="description"
                     placeholder="Description">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="outline">
              <mat-label>Duration</mat-label>
              <input matInput
                     formControlName="duration"
                     placeholder="Duration">
            </mat-form-field>
          </div>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-raised-button mat-dialog-close="">Close</button>
        <button mat-raised-button
                color="accent"
                (click)="handleAction()">
          {{ this.actionName }}
        </button>
    </mat-dialog-actions>
</div>
